@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-light-80;
}

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .title-x {
    @apply text-title-x leading-title-x font-bold;
  }
  .title-1 {
    @apply text-title-l leading-title-l font-bold;
  }
  .title-2 {
    @apply text-title-m leading-title-m font-semibold;
  }
  .title-3 {
    @apply text-title-s leading-title-m font-semibold;
  }
  .regular-l {
    @apply text-text-x leading-text-x font-medium;
  }
  .regular-m {
    @apply text-text-x leading-text-m font-semibold;
  }
  .regular-s {
    @apply text-text-l leading-text-l font-medium;
  }
  .regular-xs {
    @apply text-text-m leading-text-m font-medium;
  }
  .regular-xxs {
    @apply text-text-s leading-text-s font-medium;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

